# Sentiment Analysis

In [4]:
import pandas as pd
import matplotlib. pyplot as plt
import clean_tweets_dataframe
import numpy as np
import seaborn as sns

df = pd.read_csv('C:\\Users\\dell\\Desktop\\Twitter-Data-Analysis\\processed_tweet_datax.csv', encoding='latin-1')

df.head()

,statuses_count,created_at,source,original_text,polarity,subjectivity,favorite_count,retweet_count,screen_name,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,location,language
0,40,Fri Apr 22 22:20:18 +0000 2022,Twitter for Android,RT @nikitheblogger: Irre: Annalena Baerbock sa...,0.0,0.0,2356,355,McMc74078966,3,12,NaN,[],"[{'screen_name': 'nikitheblogger', 'name': 'Ne...",NaN,de
1,40,Fri Apr 22 22:19:16 +0000 2022,Twitter for Android,RT @sagt_mit: Merkel schaffte es in 1 Jahr 1 M...,0.0,0.0,1985,505,McMc74078966,3,12,NaN,[],"[{'screen_name': 'sagt_mit', 'name': 'Sie sagt...",NaN,de
2,40,Fri Apr 22 22:17:28 +0000 2022,Twitter for Android,RT @Kryptonoun: @WRi007 Pharma in Lebensmittel...,0.0,0.0,16,4,McMc74078966,3,12,NaN,[],"[{'screen_name': 'Kryptonoun', 'name': 'Krypto...",NaN,de
3,40,Fri Apr 22 22:17:20 +0000 2022,Twitter for Android,RT @WRi007: Die #Deutschen sind ein braves Vol...,0.0,0.0,1242,332,McMc74078966,3,12,NaN,"[{'text': 'Deutschen', 'indices': [16, 26]}, {...","[{'screen_name': 'WRi007', 'name': 'Wolfgang B...",NaN,de
4,40,Fri Apr 22 22:13:15 +0000 2022,Twitter for Android,RT @RolandTichy: Baerbock verkÃÂ¼ndet mal so ...,0.0,0.0,1329,386,McMc74078966,3,12,NaN,[],"[{'screen_name': 'RolandTichy', 'name': 'Rolan...",NaN,de

In [6]:
cleantweet = df[["original_text", "polarity"]]
cleantweet

                                           original_text  polarity
0      RT @nikitheblogger: Irre: Annalena Baerbock sa...       0.0
1      RT @sagt_mit: Merkel schaffte es in 1 Jahr 1 M...       0.0
2      RT @Kryptonoun: @WRi007 Pharma in Lebensmittel...       0.0
3      RT @WRi007: Die #Deutschen sind ein braves Vol...       0.0
4      RT @RolandTichy: Baerbock verkÃÂ¼ndet mal so ...       0.0
...                                                  ...       ...
24620  RT @waglenikhil: Ã Â¤ÂÃ Â¤ÂªÃ Â¤Â²Ã Â¥ÂÃ Â¤Â...       0.0
24621  RT @yadavtejashwi: Ã Â¤ÂÃ Â¥ÂÃ Â¤Â¹Ã Â¤Â°Ã Â...       0.0
24622  RT @Parthtiwari25: Gujarat Congress MLA arrest...       0.0
24623  RT @news24tvchannel: CM Ã Â¤Â¨Ã Â¥ÂÃ Â¤Â¤Ã Â¥...       0.0
24624  RT @suvegrathi: Ã Â¤Â­Ã Â¤ÂÃ Â¤ÂµÃ Â¤Â¾Ã Â¤Â¨...       0.0

[24625 rows x 2 columns]

In [8]:
def pol_test(p):
    """
    converts polarity into sentiment category
    """
    if p > 0:
        return "positive"
    elif p < 0:
        return "negative"
    else:
        return "neutral"

In [22]:
cleanTweet["score"] = cleanTweet["polarity"].apply(pol_test)
cleanTweet

C:\Users\dell\AppData\Local\Temp/ipykernel_2792/2919061213.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanTweet["score"] = cleanTweet["polarity"].apply(pol_test)

                                           original_text  polarity     score
10     RT @Safka111: Sorry als Mutter von 3 Kindern, ...     -0.50  negative
38     RT @NorthstarCharts: The 10-year yield is tell...      0.16  positive
39     RT @MichaelAArouet: German 10y mortgage rate w...      0.15  positive
43     RT @biancoresearch: Rates rise until something...     -0.40  negative
44     RT @LanceRoberts: Buying opportunities like th...     -0.10  negative
...                                                  ...       ...       ...
24566  RT @ozamizcps: PSSg Gedson CastaÃÂ±eros, Mobi...      0.10  positive
24573  RT @Salt_Project_OS: Free yourself from writin...      0.40  positive
24584  RT @CHARANJITCHANNI: Best wishes &amp; heartfe...      0.50  positive
24586  RT @pbhushan1: Thank you @BajpayeeManoj for th...      0.85  positive
24599  RT @tejjINC: 1. Peace Yatra by Late Sunil Dutt...     -0.30  negative

[9334 rows x 3 columns]

In [21]:

sentiment = cleanTweet['score'].value_counts()
sentiment

positive    6506
negative    2828
Name: score, dtype: int64

In [16]:
cleanTweet = cleanTweet[cleanTweet['score'] != 'neutral']
cleanTweet

                                           original_text  polarity     score
10     RT @Safka111: Sorry als Mutter von 3 Kindern, ...     -0.50  negative
38     RT @NorthstarCharts: The 10-year yield is tell...      0.16  positive
39     RT @MichaelAArouet: German 10y mortgage rate w...      0.15  positive
43     RT @biancoresearch: Rates rise until something...     -0.40  negative
44     RT @LanceRoberts: Buying opportunities like th...     -0.10  negative
...                                                  ...       ...       ...
24566  RT @ozamizcps: PSSg Gedson CastaÃÂ±eros, Mobi...      0.10  positive
24573  RT @Salt_Project_OS: Free yourself from writin...      0.40  positive
24584  RT @CHARANJITCHANNI: Best wishes &amp; heartfe...      0.50  positive
24586  RT @pbhushan1: Thank you @BajpayeeManoj for th...      0.85  positive
24599  RT @tejjINC: 1. Peace Yatra by Late Sunil Dutt...     -0.30  negative

[9334 rows x 3 columns]

In [24]:
# add scoremap column
def scoremap(score):
    """
    maps sentiment score to 0 and 1
    """
    if score == "positive":
        return 1
    else:
        return 0

In [25]:
cleanTweet['scoremap'] = cleanTweet["score"].map(scoremap)
cleanTweet

C:\Users\dell\AppData\Local\Temp/ipykernel_2792/2897186944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanTweet['scoremap'] = cleanTweet["score"].map(scoremap)

,original_text,polarity,score,scoremap
10,"RT @Safka111: Sorry als Mutter von 3 Kindern, ...",-0.50,negative,0
38,RT @NorthstarCharts: The 10-year yield is tell...,0.16,positive,1
39,RT @MichaelAArouet: German 10y mortgage rate w...,0.15,positive,1
43,RT @biancoresearch: Rates rise until something...,-0.40,negative,0
44,RT @LanceRoberts: Buying opportunities like th...,-0.10,negative,0
...,...,...,...,...
24566,"RT @ozamizcps: PSSg Gedson CastaÃÂ±eros, Mobi...",0.10,positive,1
24573,RT @Salt_Project_OS: Free yourself from writin...,0.40,positive,1
24584,RT @CHARANJITCHANNI: Best wishes &amp; heartfe...,0.50,positive,1
24586,RT @pbhushan1: Thank you @BajpayeeManoj for th...,0.85,positive,1
24599,RT @tejjINC: 1. Peace Yatra by Late Sunil Dutt...,-0.30,negative,0